@import '/src/styles/variables.scss';

.registerCustomer {
    height: calc(100vh - #{$h-header});
    background-image: url('../../images/register-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &-form {
        padding: $pm-40 0;
        height: 580px;
        min-width: 480px;
        @include maxMobile {
            width: 400px;
        }
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
        &-doodle {
            display: none;
            width: 100%;
            height: 100%;
            @include fromCustom(1328px) {
                display: block;
            }
            & img {
                width: 100%;
                height: 100%;
            }
        }
        &-input {
            & form {
                padding: $pm-80 0;
                height: 100%;
                & h2 {
                    text-align: center;
                    font-weight: 600;
                }
                & > div {
                    &:not(:first-child) {
                        margin-top: $pm-20;
                    }
                }
            }
        }
    }
}
