* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

ol,
ul,
dl,
p {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eef2f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #219bf8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1772bd;
}
