@import '/src/styles/variables.scss';

.registerBusiness {
    height: 100vh;
    display: flex;
    &-doodle {
        background-image: url('../../images/supplier-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        position: relative;
    }
}
