@import "/src/styles/variables.scss";

.serviceDetail {
    min-height: 100vh;
    padding: calc($h-header + $pm-40) $pm-40 $pm-40;
    &-wrapper {
        padding: $pm-20 $pm-40;
        &-header {
            display: flex;
            justify-content: space-evenly;
            padding: $pm-40 0;
            border-bottom: 1px solid lightgrey;
            & h1 {
                flex: 1;
                color: $base-color;
                margin: 0;
            }
        }
        &-body {
            padding: $pm-60 0;
            font-size: 1.5rem;
            & > ul > li > label {
                font-weight: 600;
            }
            & > ul > li > p {
                margin-left: $pm-80;
            }
        }
    }
}
