@import '/src/styles/variables.scss';

.notFound {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $pm-40 0;
    &-image {
        max-width: 700px;
        margin: 0 auto;
        & img {
            width: 100%;
        }
    }
    &-description {
        margin: $pm-40 auto 0;
        max-width: 700px;
        text-align: center;
        & h2 {
            color: #ff7777;
            font-weight: 600;
        }
    }
}
