@import '/src/styles/variables.scss';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: $pm-20 $pm-80;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 10.9px 10.9px 27.8px rgba(0, 0, 0, 0.04);
    &-left {
        display: flex;
        align-items: center;
        gap: 0 $pm-80;
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 0 $pm-40;
    }
}

.header-btn {
    background-color: #3fa3db;
    border-color: #3fa3db;
}
