@import '/src/styles/variables.scss';

.linkButton {
    display: inline-block;
    color: darkturquoise;
    margin: $pm-20 0;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
}
